{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
    <script src="{% static 'functions.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block scripts %} {% endblock scripts %}

    <title>Read Posts | {% block title %} {% endblock title %}</title>
</head>

<body>
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">

                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>