<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css">
    <title>Product</title>
</head>

<body>
    <div class="mt-4">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" >
                <div >
                   <a class="btn btn-info btn-sm my-2" href="/product"> Product</a> <br>
                   <a class="btn btn-info  btn-sm my-2" href="/brands"> Brand</a> <br>
                   <a class="btn btn-danger  btn-sm my-2" href="/logout"> Logout</a>
                </div>
            </div>
            <div class="col-md-10">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    </div>
    
</body>

</html>