{% extends 'main.html' %}

{% block content%}

<div class="">

    <div class="mb-5">
        <h4 class="mb-3"> All Products</h4>
        <a href="{% url 'add-product' %}" class="btn btn-primary">Add</a>
    </div>

    <div class="row">
        <div class="col-md-10">
            <table class="table align-middle table-row-dashed fs-6 gy-5" >
                <thead>
                   
                    <tr class="fw-bold fs-6 text-gray-800">
                        <th>Name</th>
                        <th>Brand Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.name}}</td>
                        <td>{{product.brandname}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.date}}</td>
                        <td class="row">

                            <a href="{% url 'edit-product' product.id %}" class="btn btn-info mr-2">Edit</a>

                            <form method="post" action="{% url 'delete-product' product.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}