{% extends 'main.html' %}

{% block content%}

<div class="mt-4">
    <h4 class="mb-4"> All Products</h4>

    <a href="{% url 'add-product' %}" class="btn btn-primary">Add</a>

    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.date}}</td>
                <td class="row">

                    <a href="{% url 'edit-product' product.id %}" class="btn btn-info mr-2">Edit</a>

                    <form method="post" action="{% url 'delete-product' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}